
/* ============ REUSABLE COMPONENTS ============ */

/* MARGIN/PADDING */
  .margin-auto {
    margin: auto;
  }
  
  /* ALIGNMENT */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }  

  .pull-right {
    float: right !important;
  }
  
  .pull-left {
    float: left !important;
  }

  .inline-block {
    display: inline-block;
  }
  
  /* COLORS */
  .white {
    color: #fff
  }
  
  .dark {
    color: #343a40!important
  }
  
  /* FONT */
  .font-400 {
    font-weight: 400;
  }
  
  /* HEIGHT/WIDTH */
  .height-100 {
    height: 100%;
  }
  
  .width-100 {
    width: 100%;
  }
  
  
  
 